
.introduction
{
    background-color: #FFA8B6;
    ;
    padding: 5%;

}
body
{
    margin: 0%;
}

a.projects{
    color: #51E2F5;
    text-decoration: underline;
}
a.contact
{
    color: #EDF7F6;
    text-decoration: underline
}
    
 a:visited
 {
    text-decoration: none;
    color: #A28089;
    
}    
h1,h2,h3,h4
{
    font-family:   'Abril Fatface', serif;
}
p,li
{
    font-family:  Poppins, sans-serif;
}


.title, .intro
{   
    text-align: center;
    
}


.body
{
    background-color:  #A28089;
    padding: 3%;
}

.contact
{
    position: absolute ;
    top: 5px;
    left: 15px;
    font-size: 80%;
}



.accomplishments-body
{
    margin-left: 35%;
    background-color:#EDF7F6 ;
    padding: 1%;
    border-radius: 10%;
    width: 30%;
    
}

.projects-body
{
    margin-left: 5%;
    margin-right: 30%;
    background-color:#EDF7F6 ;
    padding: 1%;
    border-radius: 10%;
    width: 30%;
}

.project-images
{
    width: 50%;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10%;
    
}

.hobbies-body
{
    width: 40%;
    margin-top: 5%;
    margin-left: 5%;
    background-color: #9DF9EF ;
    padding: 1%;
    border-radius: 5%;
}
.skills-body
{
    margin-left: 10%;
    width: 40%;
    background-color: #9DF9EF ;
    padding: 1%;
    border-radius: 5%;
}


.hobbies,.skills,.projects,.accomplishments
{
    display: flex;
    align-items: center;



}

.hobby-images
{
    margin:  5%;
    margin-left: 20%;
    margin-top: 10%;
    width: 40%;
    height: 30%;
    border-radius: 15%;

}

.skills-images
{
    width:80%;
    height: 80%;
    margin-left: 0%;
    border-radius: 15%;
}

.selfie
{
    border-radius: 70%;
}


.accomplishments-images
{
    border-radius: 15%;
    margin-left: 10%;
}